{% extends 'dashboard_navbar.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="header-1">
        <h1>Progress Note</h1>
        <div>
            <a href="{% url 'patients.details' patient.id %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" form="nForm" class="btn2 btn-success">Save</button>
        </div>
    </div>

    <form id="nForm" method="POST"> 
      {% csrf_token %} 

      <div class="row gutters-sm">
          <div class="col-md-12">
              <div class="card mb-3">
                  <div class="card-body">
                      <h3 class="h6 mb-3 text-secondary">Note</h3>
                      <hr>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label class="form-label">Session</label>
                                  {{ form.title }}
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label class="form-label">Session Date</label>
                                  {{ form.session_date }}
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="mb-3">
                                  {{ form.content }}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </form>
</div>


{% endblock %}