{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_portal.css' %}">
        <title>Therapro</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div>
                <button id="toggleNavBtn" onclick="toggleNav()" class="btn btn-dark">☰</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class ="hr1" width="100%">
    
        <div id="mySidenav" class="sidenav">
            <hr class="hr2" width="100%">
            <a href="{% url '' %}">Home</a>
            <a href="{% url '' %}">Patient List</a>
            <a href="{% url '' %}">Appointments</a>
            <a href="{% url '' %}">Games</a>
        </div>
    
            {% block content %}
            {% endblock %}
    
        <script>
            function toggleNav() {
                const sidenav = document.getElementById("mySidenav");
                const main = document.querySelector(".main");
                const navbar = document.querySelector(".navbar");
                const button = document.getElementById("toggleNavBtn");
    
                if (sidenav.style.width === "220px") {
                    sidenav.style.width = "0";
                    main.style.marginLeft = "0";
                    navbar.style.marginLeft = "0";
                } else {
                    sidenav.style.width = "220px";
                    main.style.marginLeft = "220px";
                    navbar.style.marginLeft = "220px";
                }
            }
        </script>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>