{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_portal.css' %}">
        <title>Therapro</title>
    </head>
    <script src="{% static 'js/dashboard_navbar.js' %}"></script>
    <body>
        <nav class="navbar navbar-expand-lg justify-content-between">
            <div>
                <button id="toggleNavBtn" onclick="toggleNav()" class="btn btn-dark">☰</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <form id="logout-form" method="POST" action="{% url 'account_logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="nav-link" style="border: none;">Logout</button>
                            </form> 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class ="hr1" width="100%">
    
        <div id="mySidenav" class="sidenav">
            <hr class="hr2" width="100%">
            <a href="{% url 'welcome' %}">Home</a>
            <a href="{% url 'patients.list' %}">Progress Notes</a>
            <a href="{% url 'welcome' %}">Appointments</a>
            <a href="{% url 'game_library' %}">Games</a>
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>