{% extends "dashboard_navbar.html" %}

{% block content %}
<div class="header-1">
  <h1>Role Information List:</h1>
</div>

  
  <ul class="list-unstyled">
    {% if is_administrator %}
    <li class="mb-3"><a href="{% url 'guardian_list' %}" class="btn btn-primary">Guardian Information</a></li>
    <li class="mb-3"><a href="{% url 'assistant_list' %}" class="btn btn-primary">Assistant Information</a></li>
    <li class="mb-3"><a href="{% url 'therapist_list' %}" class="btn btn-primary">Therapist Information</a></li>
    <li class="mb-3"><a href="{% url 'welcome' %}" class="btn btn-secondary">Back</a></li>
    {% endif %}
</ul>

{% endblock %}