{% extends "base.html" %}

{% block content %}
  <h1 class="my-5 fw-bold">Role Information List:</h1>
  
  <ul class="list-unstyled">
    {% if is_administrator %}
    <li class="mb-3"><a href="{% url 'guardian_list' %}" class="btn btn-primary">Guardian Information</a></li>
    <li class="mb-3"><a href="{% url 'assistant_list' %}" class="btn btn-primary">Assistant Information</a></li>
    <li class="mb-3"><a href="{% url 'therapist_list' %}" class="btn btn-primary">Therapist Information</a></li>
    <li class="mb-3"><a href="{% url 'welcome' %}" class="btn btn-secondary">Back</a></li>
    {% endif %}
</ul>

{% endblock %}