{% extends "home_navbar.html" %}
{% load static %}

{% block content %}
<div class="about-1">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-lg-9">
        <div class="about-1-cont">
          <h1 class="about-1-header">HISTORY</h1>
          <p class="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-2">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <h1 class="about-2-header">Lorem Ipsum Dolor sit Amet</h1>
              <div class="mt-4">
                  <!-- Vision -->
                  <div class="d-flex align-items-start my-3">
                      <span class="icon">🔍</span>
                      <div>
                          <h4 class="fw-bold">OUR VISION</h4>
                          <p class="about-2-cont">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                      </div>
                  </div>
                  <div class="d-flex align-items-start my-3">
                      <span class="icon">🎯</span>
                      <div>
                          <h4 class="fw-bold">OUR MISSION</h4>
                          <p class="about-2-cont">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6">
              <img src="images/clinic-bg.jpg" alt="Our Vision and Mission" class="abour-2-img mission-box img-fluid">
          </div>
      </div>
  </div>
</div>

<div class="about-3">
<div class="container">
    <div class="row">
      <div>
        <h2 class="fw-bold">Our Core Values</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
        <!-- First Row -->
        <div class="col-md-4">
            <div class="about-3-card">
                <div class="icon-circle">
                    <span>🔵</span>
                </div>
                <h4>Value 1</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-3-card">
                <div class="icon-circle">
                    <span>🔵</span>
                </div>
                <h4>Value 2</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-3-card">
                <div class="icon-circle">
                    <span>🔵</span>
                </div>
                <h4>Value 3</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
        </div>
        <!-- Second Row -->
        <div class="col-md-4">
            <div class="about-3-card">
                <div class="icon-circle">
                    <span>🔵</span>
                </div>
                <h4>Value 4</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-3-card">
                <div class="icon-circle">
                    <span>🔵</span>
                </div>
                <h4>Value 5</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-3-card">
                <div class="icon-circle">
                    <span>🔵</span>
                </div>
                <h4>Value 6</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
