{% extends "dashboard_navbar.html" %}

{% block content %}
{% include "blobs.html" %}
<div class="container-fluid">
  <div class="header-1">
    <h1>List of Assistants</h1>
  </div>

  <div class="header-search">
    <form method="GET" action="{% url 'assistant_list' %}" class="search-form">
      <input class="search-bar" placeholder="Search Assistant" type="text" name="q" value="{{ search_query }}">
      <button type="submit" class="search-button">
        🔍
      </button>
    </form>
  </div>

  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sex</th>
          <th>Date of Birth</th>
          <th>Contact Number</th>
        </tr>
      </thead>
      <tbody>
        {% for assistant in assistants %}
          <tr>
            <td>
              <a href="{% url 'assistant_detail' pk=assistant.id %}" class="text-dark text-decoration-none">
                {{ assistant.first_name }} {% if assistant.middle_name %} {{assistant.middle_name}} {% endif %} {{ assistant.last_name }}
              </a>
            </td>
            <td>
              <a href="{% url 'assistant_detail' pk=assistant.id %}" class="text-dark text-decoration-none">
                {{ assistant.sex }} 
              </a>
            </td>
            <td>
              <a href="{% url 'assistant_detail' pk=assistant.id %}" class="text-dark text-decoration-none">
                {{ assistant.date_of_birth }}
              </a>
            </td>
            <td>
              <a href="{% url 'assistant_detail' pk=assistant.id %}" class="text-dark text-decoration-none">
                {{ assistant.contact_number }}
              </a>
            </td>
          </tr>
        {% endfor %}
        
        {% if not assistants %}
          <tr>
            <td colspan="4">
              <p>No assistants available.</p>  
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  
  <div class="my-3">
    <a href="{% url 'welcome' %}" class="btn">Back</a>
  </div>
</div>
{% endblock %}
