{% extends "dashboard_navbar.html" %}

{% block content %}
<div class="header-1">
  <h1>Guardian List</h1>
    {% if is_therapist or is_administrator %}
  <a href="{% url 'account_signup' %}" class="btn">Create Guardian Account</a>
    {% endif %}
</div>

<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Contact Number</th>
        <th>City</th>
        <th>Province</th>
      </tr>
    </thead>
    <tbody>
      {% for guardian in guardians %}
        <tr>
          <td>
            <a href="{% url 'guardian_detail' pk=guardian.id %}" class="text-blue text-decoration-none">
              {{ guardian.first_name }} {{guardian.middle_name}} {{ guardian.last_name }}
            </a>
          </td>
          <td>{{ guardian.contact_number }}</td>
          <td>{{ guardian.city }}</td>
          <td>{{ guardian.province }}</td>
        </tr>
      {% endfor %}
      
      {% if not guardians %}
        <tr>
          <td colspan="4">
            <p>No guardians available.</p>  
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

  <div class="my-3">
    <a href="{% url 'role_list' %}" class="btn">Back</a>
  </div>
{% endblock %}
