{% extends "dashboard_navbar.html" %}

{% block content %}
<div class="header-1">
  <h1>Therapist List</h1>
</div>

<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Contact Number</th>
        <th>City</th>
        <th>Province</th>
      </tr>
    </thead>
    <tbody>
      {% for therapist in therapists %}
        <tr>
          <td>
            <a href="{% url 'therapist_detail' pk=therapist.id %}" class="text-blue text-decoration-none">
              {{ therapist.first_name }} {{therapist.middle_name}} {{ therapist.last_name }}
            </a>
          </td>
          <td>{{ therapist.contact_number }}</td>
          <td>{{ therapist.city }}</td>
          <td>{{ therapist.province }}</td>
        </tr>
      {% endfor %}
      
      {% if not therapists %}
        <tr>
          <td colspan="4">
            <p>No therapists available.</p>  
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
  
  <div class="my-3">
    <a href="{% url 'role_list' %}" class="btn">Back</a>
  </div>
{% endblock %}
