{% extends "form_navbar.html" %}

{% block content %}
<div class="container-fluid">

    <div class="container">
        <div class="header-1">
            <h2>Schedule Recurring Appointment</h2>
            <div>
                <a href="{% url 'calendar_view' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" form="recurringAppointmentForm" class="btn btn-primary">Schedule</button>
            </div>
        </div>

        <form id="recurringAppointmentForm" method="POST"> 
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="h6 mb-3 text-secondary">Recurring Appointment Details</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Patient</label>
                                        {{ form.patient }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Therapist</label>
                                        {{ form.therapist }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Start Date</label>
                                        {{ form.start_date }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Start Time</label>
                                        {{ form.start_time }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Recurrence Pattern</label>
                                        {{ form.recurrence_pattern }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Number of Occurrences</label>
                                        {{ form.number_of_occurrences }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

