{% extends 'dashboard_navbar.html' %}

{% block content %}
<div class="container-fluid">
    <div class="header-1 my-2">
        <h1>Add Patient</h1>
        <div>
            <button type="submit" form="pForm" class="btn2 btn-success">Create Patient</button>
            <a href="{% url 'patients.list' %}" class="btn2 btn-danger">Cancel</a>
        </div>
    </div>

    <form id="pForm" method="POST"> 
        {% csrf_token %} 
        <div class="row gutters-sm">
            <div class="col-md-6">
                <div class="edit-card h-100 d-flex flex-column mb-3">
                    <div class="card-body">
                        <h3 class="h6 mb-3 text-secondary">Personal Information</h3>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <label class="form-label">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Middle Name</label>
                                {{ form.middle_name }}
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Last Name</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8">
                                <label class="form-label">Date of Birth</label>
                                {{ form.date_of_birth }}
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Sex</label>
                                {{ form.sex }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Nationality</label>
                                {{ form.nationality }}
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Religion</label>
                                {{ form.religion }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label class="form-label">Contact Number</label>
                                {{ form.contact_number }}
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Municipality</label>
                                {{ form.municipality }}
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Province</label>
                                {{ form.province }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edit-card h-100 d-flex flex-column mb-3">
                    <div class="card-body">
                        <h3 class="h6 mb-3 text-secondary">Medical Information</h3>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Diagnosis</label>
                                {{ form.diagnosis }}
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Referring Doctor</label>
                                {{ form.referring_doctor }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Mother's Name</label>
                                {{ form.mother_name }}
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Mother's Contact Number</label>
                                {{ form.mother_number }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-label">Father's Name</label>
                                {{ form.father_name }}
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Father's Contact Number</label>
                                {{ form.father_number }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label class="form-label">School (if applicable)</label>
                                {{ form.school }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label class="form-label">Relationship to Guardian</label>
                                {{ form.relationship_to_guardian }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label class="form-label">Initial Evaluation</label>
                                {{ form.initial_evaluation }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger my-5">
            {{ form.errors.as_text }}
        </div>
    {% endif %}
</div>


<script>
    document.getElementById('id_province').addEventListener('change', function() {
        console.log("HELLO THERE");
        const provinceCode = this.value;
        const municipalitySelect = document.getElementById('id_municipality');
    
        municipalitySelect.innerHTML = '<option value="">---------</option>'; 
    
        if (!provinceCode) return;
    
        fetch(`/get-municipalities/?province_code=${encodeURIComponent(provinceCode)}`)
            .then(response => response.json())
            .then(data => {
                data.municipalities.forEach(municipality => {
                    const option = new Option(municipality.name, municipality.code);
                    municipalitySelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}