{% extends "base.html" %}
{% load static %}

{% block content %}
        <h1>{{ patient.first_name }} {{ patient.last_name }}</h1>
        <p>Date of Birth: <span>{{ patient.date_of_birth }}</span></p>
        <p>Contact Number: <span>{{ patient.contact_number }}</span></p>
        <p>City: <span>{{ patient.city }}</span></p>
        <p>Province: <span>{{ patient.province }}</span></p>
        <p>Condition: <span>{{ patient.condition }}</span></p>

        <h2>Notes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Note Title</th>
                <th>Session Date</th>
            </tr>
        </thead>
        <tbody>
            {% for note in patient_notes %}
            <tr>
                <td>
                    <a href="{% url 'notes.details' note.id %}" class="text-blue text-decoration-none">
                        {{ note.title }}
                    </a>
                </td>
                <td>{{ note.session_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <a href="
    {% if is_patient %} 
        {% url 'welcome' %}
    {% else %} 
        {% url 'patients.list' %}
    {% endif %}" 
    class="btn btn-secondary my-5">
    Back
    </a>

    {% if is_therapist or is_administrator%}
        <a href="{% url 'patients.update' pk=patient.id %}" class="btn btn-secondary my-5">Edit</a>
        <a href="{% url 'patients.delete' pk=patient.id %}" class="btn btn-danger my-5">Delete</a>
    {% endif %}
{% endblock %}
