{% extends "dashboard_navbar.html" %}

{% block content %}
{% include "blobs.html" %}
<div class="container-fluid">
  <div class="header-1">
    <h1>List of Patients</h1>
  </div>

  <div class="header-search">
      <form method="GET" action="{% url 'patients.list' %}" class="search-form">
        <input class="search-bar" placeholder="Search Patient" type="text" name="q" value="{{ search_query }}">
        <button type="submit" class="search-button">
          🔍
        </button>
      </form>
  </div>

  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Diagnosis</th>
          <th>Sex</th>
          <th>Date of Birth</th>
          <th>Assigned Guardian</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
          <tr>
            <td>
              <a href="{% url 'patients.details' pk=patient.id %}" class="text-dark text-decoration-none">
                {{ patient.first_name }} {% if patient.middle_name %} {{patient.middle_name}} {% endif %} {{ patient.last_name }}
              </a>
            </td>
            <td>
              <a href="{% url 'patients.details' pk=patient.id %}" class="text-dark text-decoration-none">
                {{ patient.diagnosis }}
              </a>
            </td>
            <td>
              <a href="{% url 'patients.details' pk=patient.id %}" class="text-dark text-decoration-none">
                {{ patient.sex }} 
              </a>
            </td>
            <td>
              <a href="{% url 'patients.details' pk=patient.id %}" class="text-dark text-decoration-none">
                {{ patient.date_of_birth }}
              </a>
            </td>
            <td>
              <a href="{% url 'patients.details' pk=patient.id %}" class="text-dark text-decoration-none">
                {{ patient.account_id.guardianinformation_set.first.first_name}} 
                {% if patient.account_id.guardianinformation_set.first.middle_name %}
                {{ patient.account_id.guardianinformation_set.first.middle_name}} 
                {% endif %}
                {{ patient.account_id.guardianinformation_set.first.last_name}}  
              </a>
            </td>
          </tr>
        {% endfor %}
        
        {% if not patients %}
          <tr>
            <td colspan="4">
              <h6>No patients available.</h6>  
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  
  <div class="my-3">
    <a href="{% url 'welcome' %}" class="btn">Back</a>

    {% if is_guardian%}
    <a href="{% url 'patients.create' %}" class="btn">Add Patient</a>
    {% endif %}
  </div>
</div>
{% endblock %}