{% extends "dashboard_navbar.html" %}

{% block content %}
<div class="header-1">
  <h1>Patient List</h1>
    {% if is_therapist or is_administrator %}
  <a href="{% url 'account_signup' %}" class="btn">Create Patient Account</a>
    {% endif %}
</div>
<div class="header-1">
  <input class="search-bar" placeholder="Search..." type="text">
</div>

<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Diagnosis</th>
      <th>Sex</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Contact Number</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
        <tr>
          <td>{{ patient.id }}</td>
          <td>
            <a href="{% url 'patients.details' pk=patient.id %}" class="text-blue text-decoration-none">
              {{ patient.first_name }} {{ patient.last_name }}
            </a>
          </td>
          <td>{{ patient.condition }}</td>
          <td></td>
          <td></td>
          <td>{{ patient.city }}</td>
          <td>{{ patient.contact_number }}</td>
        </tr>
      {% endfor %}
      
      {% if not patients %}
        <tr>
          <td colspan="3">
            <p>No patients available.</p>  
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <div class="my-3">
    <a href="{% url 'welcome' %}" class="btn">Back</a>
  </div>
{% endblock %}