{% extends 'base.html' %}
{% load custom %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card-group text-start">
                <div class="col-md-7">
                    <div class="card-3 p-4">
                        <h2>Login</h2>
                        <p class="text-secondary">Sign in to your account</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <input class="w-100" type="email" name="login" placeholder="Email Address" autocomplete="email" maxlength="320" required="" id="id_login">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <input class="w-100" type="password" name="password" placeholder="Password" autocomplete="current-password" required="" aria-describedby="id_password_helptext" id="id_password">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <span class="helptext" id="id_password_helptext"><a href="/auth/password/reset/">Forgot your password?</a></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>
                                        <label for="id_remember">Remember Me:</label>
                                        <input type="checkbox" name="remember" id="id_remember">
                                    </p>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-4 p-4 h-100 d-flex justify-content-center text-center">
                        <h2 class="font-weight-bold">Don't have an account?</h2>
                        <a class="text-white" href="{% url 'account_signup' %}">Sign up here to join Therapro!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
