{% extends "form_navbar.html" %}

{% block content %}
<div class="container-fluid">

    <div class="container">
        <div class="header-1">
            <h2>Create {{ role_name }} Account</h2>
            <div>
                <a href="{% url 'welcome' %}" class="btn btn-secondary">Back</a>
            </div>    
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>  
    </div>
</div>

<script>
    document.getElementById('id_province').addEventListener('change', function() {
        const provinceCode = this.value;
        if (!provinceCode) return;
        
        fetch(`/get-cities/?province_code=${encodeURIComponent(provinceCode)}`)
            .then(response => response.json())
            .then(data => {
                const citySelect = document.getElementById('id_city');
                citySelect.innerHTML = '<option value="">---------</option>'; // Reset options
                data.cities.forEach(city => {
                    const option = new Option(city.name, city.code);
                    citySelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });
    </script>
{% endblock %}
