{% extends "form_navbar.html" %}

{% block content %}
<div class="container-fluid">

    <div class="container">
        <div class="header-1">
            <h2>Create {{ role_name }} Account</h2>
            <button type="submit" form="signupForm" class="btn btn-primary">Sign-Up</button>
        </div>

        <form id="signupForm" method="POST"> 
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="h6 mb-3 text-secondary">Account Details</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Confirm Password</label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Basic information -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="h6 mb-3 text-secondary">Basic Information</h3>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">First Name</label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Middle Name</label>
                                        {{ form.middle_name }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Last Name</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Sex</label>
                                        {{ form.sex }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Date of Birth</label>
                                        {{ form.date_of_birth }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Diagnosis</label>
                                        {{ form.condition }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Contact Number</label>
                                        {{ form.contact_number }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="h6 mb-4">Address</h3>
                            <div class="mb-3">
                                <label class="form-label">Address Line 1</label>
                                {{ form.address_line1 }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Address Line 2</label>
                                {{ form.address_line2 }}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">City</label>
                                        {{ form.city }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Province</label>
                                        {{ form.province }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right side -->
                <div class="col-lg-4">
                    <!-- Assigned Guardian -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6">Assigned Guardian</h3>
                            {{ form.assigned_guardian }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}
