{% extends "dashboard_navbar.html" %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between">
        <h1 class="display-5 fw-bold mb-2">Welcome to TheraPro</h1>
        <h4 class="text-muted">
            {% for group in request.user.groups.all %}
                {{ group.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No roles assigned.
            {% endfor %}
        </h4>
    </div>
    <p class="text-muted">Today is {{ today }}</p>
    <div class="row g-4">
        {% if is_guardian %}
            <div class="col-md-12">
                <div class="card shadow-sm border-0">
                    <div class="m-2">
                        <h5 class="card-title">Patients</h5>
                        <p class="card-text text-muted">Manage and view patient information.</p>
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'patients.list' %}" class="btn btn-primary d-block my-1">View Patients</a>
                        <a href="{% url 'patients.create' %}" class="btn btn-primary d-block my-1">Add Patient</a>
                    </div>
                </div>
            </div>
        {% elif is_therapist %}
        <div class="row mt-4">
            <div class="col-md-6 d-flex flex-column">
                <div class="card shadow-sm border-0 mb-3">
                    <div class="m-2">
                        <h5 class="card-title">Patient Management</h5>
                        <p class="card-text text-muted">Access and manage patient records.</p>
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'patients.list' %}" class="btn btn-primary d-block my-1">View Patients</a>
                    </div>
                </div>
                <div class="card shadow-sm border-0 mb-3">
                    <div class="m-2">
                        <h5 class="card-title">Guardians</h5>
                        <p class="card-text text-muted">Manage and communicate with guardians.</p>
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'guardian_list' %}" class="btn btn-primary d-block my-1">View Guardians</a>
                    </div>
                </div>
                <div class="card shadow-sm border-0">
                    <div class="m-2">
                        <h5 class="card-title">Assistants</h5>
                        <p class="card-text text-muted">Manage clinic assistants.</p>
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'assistant_list' %}" class="btn btn-primary d-block my-1">View Assistants</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm border-0">
                    <div class="m-2">
                        <h5 class="card-title">Appointments</h5>
                        <p class="card-text text-muted">Manage appointment requests.</p>
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'manage_appointment_requests' %}" class="btn btn-primary d-block my-1">View Requests</a>
                        <a href="{% url 'list_schedule' %}" class="btn btn-primary my-1">Schedule</a>
                    </div>
                </div>
            </div>
        </div>
        {% elif is_assistant %}
        
        <div class="col-md-4 d-flex flex-column">
            <div class="card shadow-sm border-0 mb-3">
                <div class="m-2">
                    <h5 class="card-title">Patient Management</h5>
                    <p class="card-text text-muted">Access and manage patient records.</p>
                </div>
                <div class="card-body text-center">
                    <a href="{% url 'patients.list' %}" class="btn btn-primary d-block my-1">View Patients</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column">
            <div class="card shadow-sm border-0 mb-3">
                <div class="m-2">
                    <h5 class="card-title">Guardians</h5>
                    <p class="card-text text-muted">Manage and communicate with guardians.</p>
                </div>
                <div class="card-body text-center">
                    <a href="{% url 'guardian_list' %}" class="btn btn-primary d-block my-1">View Guardians</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column">
            <div class="card shadow-sm border-0">
                <div class="m-2">
                    <h5 class="card-title">Assistants</h5>
                    <p class="card-text text-muted">Manage clinic assistants.</p>
                </div>
                <div class="card-body text-center">
                    <a href="{% url 'assistant_list' %}" class="btn btn-primary d-block my-1">View Assistants</a>
                </div>
            </div>
        </div>
        
        {% elif is_administrator %}
        <div class="col-md-12">
            <div class="card shadow-sm border-0">
                <div class="m-2">
                    <h5 class="card-title">User Management</h5>
                    <p class="card-text text-muted">Create new accounts for users.</p>
                </div>
                <div class="card-body text-center">
                    <a href="{% url 'therapist_signup' %}" class="btn btn-primary d-block my-1">Add Therapist</a>
                    <a href="{% url 'guardian_signup' %}" class="btn btn-primary d-block my-1">Add Guardian</a>
                    <a href="{% url 'assistant_signup' %}" class="btn btn-primary d-block my-1">Add Assistant</a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="col-12 text-center">
                <p class="text-muted">Unknown role</p>
            </div>
        {% endif %}
    </div>
    
</div>



        
{% endblock %}
