{% extends "dashboard_navbar.html" %}

{% block content %}
    <body>
        <h1>Good Day, Mrs. Zoraida.</h1>
        <p>Today is {{ today }}</p>
        <p>Your Role: 
            {% for group in request.user.groups.all %}
                {{ group.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No roles assigned.
            {% endfor %}
        </p>
        <p>Your User ID: {{ request.user.id }}</p>
        {% if is_patient %}
            {% if patient %}
                <a href="{% url 'patients.details' pk=patient.id %}" class="btn btn-primary">View My Details</a>
            {% else %}
                <p>You do not have patient details available.</p>
            {% endif %}
            {% elif is_therapist or is_assistant or is_administrator or is_guardian %}
            <a href="{% url 'patients.list' %}" class="btn btn-primary">Patient List</a>
        {% else %}
            <p>Unknown role</p>
        {% endif %}
    </body>
{% endblock %}
