{% extends "dashboard_navbar.html" %}

{% block content %}
    <body>
        <h1>Good Day, Mrs. Zoraida.</h1>
        <p>Today is {{ today }}</p>
        <p>Your Role: 
            {% for group in request.user.groups.all %}
                {{ group.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No roles assigned.
            {% endfor %}
        </p>
        <p>Your User ID: {{ request.user.id }}</p>
        <div>
            {% if is_patient %}
                {% if patient %}
                    <a href="{% url 'patients.details' pk=patient.id %}" class="btn btn-primary d-block my-2">View My Details</a>
                {% else %}
                    <p>You do not have patient details available.</p>
                {% endif %}
            {% elif is_assistant or is_guardian %}
                <a href="{% url 'patients.list' %}" class="btn btn-primary d-block my-2">Patient List</a>
            {% elif is_therapist %}
                <a href="{% url 'patients.list' %}" class="btn btn-primary d-block my-2">Patient List</a>
                <a href="{% url 'guardian_signup' %}" class="btn btn-primary d-block my-2">Create Guardian Account</a>
                <a href="{% url 'assistant_signup' %}" class="btn btn-primary d-block my-2">Create Assistant Account</a>
            {% elif is_administrator %}
                <a href="{% url 'patients.list' %}" class="btn btn-primary d-block my-2">Patient List</a>
                <a href="{% url 'therapist_signup' %}" class="btn btn-primary d-block my-2">Create Therapist Account</a>
                <a href="{% url 'guardian_signup' %}" class="btn btn-primary d-block my-2">Create Guardian Account</a>
                <a href="{% url 'assistant_signup' %}" class="btn btn-primary d-block my-2">Create Assistant Account</a>
            {% else %}
                <p>Unknown role</p>
            {% endif %}
        </div>
        
    </body>
{% endblock %}
