{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "Appointment application" %}{% endblock %}</title>
    {% block customMetaTag %}{% endblock %}

    <!-- Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style_website.css' %}">
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

      
    <!-- Custom CSS-->

    {% block customCSS %}{% endblock %}
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css">
    {% block scriptHead %}{% endblock %}

    <script src="{% static 'appointments/js/calendar.js' %}"></script>
    

      <!-- Tippy.js -->
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="Clinic Logo" height="40">
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'appointment' %}">Appointment</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
                  <a class="nav-link" href="{% url 'welcome' %}">Dashboard</a>
              {% else %}
                  <a class="nav-link" href="{% url 'account_login' %}">Dashboard</a>
              {% endif %}
          </li>
          </ul>
        </div>
    </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row g-0">
              <!-- Left side: Location -->
              <div class="col-md-5 d-flex align-items-center justify-content-end text-end">
                  <h2>Therapro<br>Therapy Clinic</h2>
              </div>
              <!-- Divider -->
              <div class="col-md-2 d-flex justify-content-center">
                  <div class="divider"></div>
              </div>
              <!-- Right side: Contact Details -->
              <div class="col-md-5 d-flex align-items-center justify-content-left">
                  <div class="contact">
                    <div><i class="bi bi-telephone-fill"></i><span>Number</span></div>
                    <div><i class="bi bi-envelope-fill"></i><span>Email@gmail.com</span></div>
                    <div> <i class="bi bi-facebook"></i><span>Facebook Profile</span></div>
                  </div>
              </div>
          </div>
        </div>
      </footer> 

<!--====== Javascript & Jquery ======-->
<!-- Ion Icons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.8/main.global.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
        integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/dashboard_navbar.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    
{% block customJS %}{% endblock %}

<!--end footer-->
</body>

</html>