.navbar {
    padding: 15px 20px 5px 20px;
    background-color: white;
    }

    .nav-item .nav-link:hover {
    color: #004E64;
    }

    .navbar-brand {
    color: rgb(255, 255, 255);
    font-weight: bold;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #00A5CF;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 20px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 0;
        padding: 10px;
        transition: margin-left 0.3s;
    }

    #toggleNavBtn {
        font-size: 20px;
        cursor: pointer;
        color: black;
        background-color: white;
        border: none;
        padding: 10px;
    }

    .navbar-nav .nav-link {
        color: grey;
        margin-left: 20px;
    }

    .hr1 {
        border: none;
        height: 4px;
        background-color: #64CA6C;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    .hr2 {
        border: none;
        padding: 60px 20px;
        height: 4px;
        background-color: #00A5CF;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }